a:hover {
  color: $electric-darker;
}

.container-expanded {
  margin: 0 -$side-padding;
}

@media $large-screen {
  .container-expanded {
    margin: 0 -$side-padding-desktop;
  }
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.w700 {
  max-width: 700px;
}

.download-link {
  &:hover {
    color: $electric-darker;
  }
}

.text-success {
  color: $green;
}

.hoverable {
  cursor: pointer;

  &:hover {
    color: $electric;
  }
}

.with-arrow {
  display: inline-block;
  position: relative;
  padding-right: 12px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 6px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid $primary-blue;
  }

  &:hover {
    &:before {
      border-left: 4px solid $electric;
    }
  }
}

/* List */

.list__item {
  display: block;
  position: relative;
  padding: $side-padding;
  color: $primary-blue;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
  }

  &.passed {
    border-left: 5px solid $green;
  }

  &.ignored {
    border-left: 5px solid $primary-grey-lighter;
  }

  &.failed {
    border-left: 5px solid $red;
  }

  &:not(.no-hover):hover {
    cursor: pointer;
    z-index: 2;
    box-shadow: 0 0 3px 0 $primary-grey-lighter-2;
  }

  &:nth-child(odd) {
    background: $background;
  }
}

.list__item__title-l {
  margin-bottom: 5px;
  color: $electric;
}

.list__item__title-m {
  margin-bottom: 5px;
}

.additional-info {
  position: absolute;
  right: $side-padding;
  top: 10px;
}

.images__item {
  padding-right: $side-padding;
}

@media $large-screen {
  .list__item {
    padding: $side-padding -$side-padding-desktop;
  }
}

.suite-item__title {
  display: inline-block;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    right: -18px;
    top: 4px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid $electric;
  }
}